*{
    margin: 0;
    padding: 0;
}

.body{
    background-image: url("../bg.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructions{
    position: absolute;
    left: 10px;
    top: 30%;
    max-width: 340px;
    font-family: 'New Tegomin', serif;
    padding-left: 20px;
    border: 2px solid black;
}

.instructions h2{
    text-align: center;
}

.instructions li{
    margin: 10px;
    font-weight: bold;
    padding-left: 5px;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 200px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#highScoreBox{
    position: absolute;
    top: 59px;
    right: 185px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board{
    background: linear-gradient(rgb(174, 240, 174), rgb(233, 233, 181));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head{
    background: linear-gradient(red, yellow);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 8px;
}
